<form class="form-inline my-2 my-lg-0">
     
    

    <a class="nav-link" href="/Login" style="font-size: 20px;">Login</a>
   
  </form>
  
<div style="background-image: url('assets/images/a.jpg');
 height: 800px; width: 100%; border: 1px solid black;
   background-repeat: no-repeat;
   position: relative; background-size: cover;"> 

<p class="home">
    ROZZIES 
        Indian Restaurant
</p>


<p class="about">
    In our bid to deliver authentic, undiluted experiences, we’ve introduced a unique regional home style dining experience. Always prepared with a local touch, the home-style cooking ensures that you maintain good health throughout your stay.
     And at the same time it gives you the opportunity to dabble in the local delicacies.
</p>
</div>