<table>
  <tr>
    <td>



 
  
 
  <br><br><br>
 


</td><br><br><br><br><br><br>
<td>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a (click)="logout()" href="/Login"><button style="background-color:blueviolet; size: 1px; height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;&nbsp;&nbsp;</button></a><br><br>
  <img src="assets/images/u.jpg" id="u" style="height: 300px;">&nbsp;&nbsp;<br><br>
  <img src="assets/images/u1.jpg" id="u1" style="height: 300px;">&nbsp;&nbsp;
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/UserMenulist"><button style="background-color:blueviolet; size: 1px; height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;Menu List&nbsp;&nbsp;&nbsp;&nbsp;</button> </a>
 
    
  <br><br>
  <img src="assets/images/u5.jpg" id="u" style="height: 300px;">&nbsp;&nbsp;<br><br>
  <img src="assets/images/u7.jpg" id="u7" style="height: 320px; width:500px">&nbsp;&nbsp;
</td>
<td>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/UserChangePassword"><button style="background-color:blueviolet; size: 1px; height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;Change Password</button></a><br><br>
  <img src="assets/images/u2.webp" id="u2" style="height: 330px;">&nbsp;&nbsp;<br><br>
  <img src="assets/images/u3.jpg" id="u3" style="height: 300px;">&nbsp;&nbsp;
</td>
</tr>

</table>
