

 
<td>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a (click)="logout()" href="/Login"><button style="background-color:blueviolet; size: 1px; height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;&nbsp;&nbsp;</button></a><br><br>
  
  </td>
    <div class="login">
   
             <div class="inputBox">
          <h3>Change Password</h3>
       
                   <div  >
                           <label for="Opassword">Enter old password</label>
                           <input [(ngModel)]="Opassword" type="password" class="form-control"><br>
                          
                    </div>
             
    
                
                             <div  id="id1"  runat="server">
                                 <label for="Npassword">Enter New Password</label>
                                 <input [(ngModel)]="Npassword" type="password" class="form-control"><br>
                             </div> 
       
                             <div >
                               <label for="Cpassword">Confirm Password</label>
                               <input [(ngModel)]="Cpassword" type="password" class="form-control"><br>
                             </div>   <br> 
                       
                <button (click)="ChangePassword()" style="text-align: center;" type="submit" class="btn btn-success ">Change Password</button> &nbsp; &nbsp;
                     
                       <span>
                           {{message}}
                       </span>
              
               
   
       
       </div>
       
   </div>
   
           
           
           
           
             
             
           
           
           
           
           
           
           
           
           
             
             
           
           
           