

<div class="table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th> <th>UserId</th><th>ChangedOn</th><th>OldPassword</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let T_PasswordHistoryLog of T_PasswordHistoryLog">
                <td>{{T_PasswordHistoryLog.Id}}</td>
                <td>{{T_PasswordHistoryLog.UserId}}</td>
                <td>{{T_PasswordHistoryLog.ChangedOn}}</td>
                <td>{{T_PasswordHistoryLog.OldPassword}}</td>
               
          
               
            </tr>
        </tbody>
    </table>
</div>






