


<div ><a (click)="logout()" href="/Login">LogOut</a></div>

<table class="dashboard" align="center"><br>
  <tr>
    <td> User Details</td>&nbsp;&nbsp;
    <td><a href="/User"><button class="t"> &nbsp;&nbsp;&nbsp;&nbsp; User Details &nbsp;&nbsp;&nbsp;&nbsp; </button> </a></td>
   
  </tr>
  <tr></tr><br>
  <tr>
    <td> Change Password</td>&nbsp;&nbsp;
    <td><a href="/ChangePassword"><button class="t">Change Password</button></a></td>
  </tr>
  <tr></tr><br>
  <tr>
    <td> Password History Log</td>&nbsp;&nbsp;
    <td><a href="/LogHistory"><button class="t">&nbsp;&nbsp;&nbsp;&nbsp;History Log&nbsp;&nbsp;&nbsp;&nbsp;</button> </a></td>
  </tr>
  <tr></tr><br>
  <tr>
    <td>User Location Details</td>&nbsp;&nbsp;
    <td><a href="/AdminLocation"><button class="t">&nbsp;&nbsp;&nbsp;&nbsp;Location List&nbsp;&nbsp;&nbsp;&nbsp;</button> </a></td>
  </tr>
  <tr></tr><br>
  <tr>
    <td>Category Details</td>&nbsp;&nbsp;
    <td><a href="/Category"><button class="t">&nbsp;&nbsp;&nbsp;&nbsp;Category List&nbsp;&nbsp;&nbsp;&nbsp;</button> </a></td>
  </tr>
  <tr></tr><br>
  <tr>
    <td>UserCart Details</td>&nbsp;&nbsp;
    <td><a href="/AdminCart"><button class="t">&nbsp;&nbsp;&nbsp;&nbsp;UserCart List&nbsp;&nbsp;&nbsp;&nbsp;</button> </a></td>
  </tr>
  <tr>
    
     <br><br><br><br><br><br><br><br>
 <!-- <td> <button type="button"    class="btn btn-primary" style="align-content: center;">Logout</button> &nbsp;<br><br> </td> -->
    <td><a href="/Home" ><button class="t">Log Out</button></a></td>
  </tr>
</table>
