
<div style="text-align: center">
    <h3 style=" font-style: italic;">Forgot Password</h3> 
</div>

<div class="row" style="margin-top: 20px;">
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="form" *ngIf="flag==0">
    <div class="form-group" >
      <label for="" style=" font-style: italic;" >Enter Your Email</label>
      <input [(ngModel)]="email" type="email" class="form-control">
    </div>
    
    <div class="form-group">
      <button (click)="generateOTP()" class="btn btn-success">Send OTP</button>
     
    </div>
   
  </div>

  <div class="form" *ngIf="flag==1">
    <div class="form-group" >
      <label for="">Enter OTP</label>
      <input [(ngModel)]="otp" type="text" class="form-control">
    </div>
    
    <div class="form-group">
      <button (click)="validateOTP()" class="btn btn-success">Validate OTP</button>
     
    </div>
   
  </div>

  <div class="form" *ngIf="flag==2">
    <div class="form-group" >
      <label for="">New Password</label>
      <input [(ngModel)]="password" type="password" class="form-control">
    </div>
    <div class="form-group" >
        <label for="">Confirm Password</label>
        <input [(ngModel)]="password2" type="password" class="form-control">
      </div>
      
    <div class="form-group">
      <button (click)="resetPassword()" class="btn btn-success">Reset Password</button>
     
    </div>
   
  </div>
</div>
<div class="col-md-4"></div>
</div>

