
<div class="table-responsive">
    <table class="table table-hover" style=" font-style: italic;">
        <thead>
            <tr>
                <th>UserId</th>
                <th>MenuId</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of CartData">
                <td>{{c.UserId}}</td>
                <td>{{c.MenuId}}</td>
                <td>{{c.Price}}</td>
                <td>{{c.Quantity}}</td>
                <td>{{c.Amount}}</td>
            </tr>
        </tbody>
    </table>
</div>
