.home
{
    /* color: white; */
    font-style: italic;
    font-size: 40px;
    
}
.home1
{
    /* color: white; */
    font-style: italic;
    font-size: 20px;
    
}


.carousel-item {
    height: 65vh;
    min-height: 10px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  
.small
{
   margin-bottom: 100px;
}  



.img-thumbnail
{
   padding-bottom: 200px;
}
