<form class="form-inline my-2 my-lg-0">
     
    

  <a class="nav-link" href="/Login" style="font-size: 20px;">Login</a>
 
</form>

<p class="home" style="font-style: italic;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ROZZIES 
        Indian Restaurant</b>
</p>

<div style="background-image:url('assets/images/background-pages (1).jpg'); width:400px"></div>
<div class="card" style="background-color:black ;color: white;">
  <!-- <img src="" alt="John" style="width:100%"> -->
  <h1>Contact US</h1>
  <p class="title"></p>
 
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <i class="material-icons" style="font-size:36px">email</i>
  <h4>vrushalidhapate@gmail.com</h4>
  <h4>pallavimane578@gmail.com</h4>
  <i class="material-icons" style="font-size:36px">location_on</i>
  <h4>Andheri-East</h4>
  <h4>Mahatma Gandhi Road, Kolivery Village, University of Mumbai,<br>Vidya Nagari,Kala Ghoda, Fort, Mumbai, Maharashtra 400032</h4>
  <i class="material-icons" style="font-size:36px">phone</i>
   <h4>Mob No-9970142506</h4>
  <p><button>Contact</button></p>
</div>
   