<div style="background-image: url('assets/images/b1.jpg');
 height: 800px; width: 100%; border: 3px solid black;
   background-repeat: no-repeat;
   position: relative; background-size: cover;"> 

<div >
<nav class="navbar navbar-expand-lg navbar-light" >
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
       
        <a class="nav-link" routerLink="/Home" ><b>Home</b> <span class="sr-only">(current)</span></a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="/AboutUs" ><b>AboutUs</b></a>&nbsp;&nbsp;
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <li class="nav-item">
        <a class="nav-link" routerLink="/ContactUs"><b>ContactUs</b></a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
   
     
      

     
    </ul>
   
    <!-- <form class="form-inline my-2 my-lg-0">
     
    

      <a class="nav-link" href="/Login">Login</a>
     
    </form> -->
  </div>
</nav>
<router-outlet></router-outlet>
 </div> 


</div>
<footer class="footer">
   <div class="footer-copyright text-center py-3"> Copyright ©2020</div>
   
</footer>