.form
{
    text-align: end;
    
}
.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
  }
  .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }